<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- release:
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    endrelease -->
    <script type="text/javascript">
        var config = {
                "app": "my-app"
            };
    </script>
    <!-- debug: -->
    <script type="text/javascript">
        config.isDebug = true;
        config.singleCacheSvr = "http://cache.englishtown.com";
        config.baseUrl = "http://localcenter.ef.com.cn/_scripts/src/" + config.app;
        config.bower_components = config.baseUrl + "/bower_components";
        config.leadsform = {
            "handler": ((navigator.appName == "Microsoft Internet Explorer" ? (parseInt(navigator.appVersion.replace(/.*?MSIE\s([\d\.]+).*/ig, "$1")) > 6 ? false : true) : false) ? "http://" : "https://") + "localsecure.englishtown.com/online/cn/cnleadshandler.ashx",
            "partner": "None",
            "ctr": "cn",
            "lng": "cs",
            "etag": ""
        };
    </script>
    <script type="text/javascript" src="bower_components/html5shiv/src/html5shiv.js"></script>
    <script type="text/javascript" src="src/requirejs/config/main.js"></script>
    <script type="text/javascript" src="bower_components/requirejs/require.js"></script>
    <!--
    <script type="text/javascript" src="dist/0.0.0/master.js"></script>
    <script type="text/javascript" src="dist/0.0.0/index.js"></script>
    -->
    <!-- enddebug -->
    <!-- release:
    <script type="text/javascript">
        config.singleCacheSvr = "getContext::singleCacheSvr";
        config.baseUrl = "./";
        config.bower_components = config.baseUrl + "/bower_components";
        config.leadsform = {
            "handler": ((navigator.appName == "Microsoft Internet Explorer" ? (parseInt(navigator.appVersion.replace(/.*?MSIE\s([\d\.]+).*/ig, "$1")) > 6 ? false : true) : false) ? "http://" : "https://") + "getCCL::configuration.servers.secure2/online/cn/cnleadshandler.ashx",
            "partner": "getContext::partner",
            "ctr": "getContext::MarketCode",
            "lng": "getContext::language",
            "etag": "getContext::etag"
        };
    </script>
    <script type="text/javascript" src="getContext::singleCacheSvr/_imgs/getContext::app/js/getContext::version/master.js"></script>
    <script type="text/javascript" src="getContext::singleCacheSvr/_imgs/getContext::app/js/getContext::version/index.js"></script>
    endrelease -->
    <script type="text/javascript">
        require.s.contexts.et.nextTick = function (fn) { fn(); };
        require.config({ context: "et" })([config.app + "/page/index/main"]);
    </script>
    <!-- release:
    <script type="text/javascript">
        require.s.contexts.et.nextTick = require.nextTick;
    </script>
    endrelease -->
</head>
<body>
    
</body>
</html>